doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Rest Api
        link(rel='icon' href='/img/favicon.png')
        link(rel='stylesheet', href='/styles.css')        
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')        
    body
        block main