body {
    margin: 0;
    padding: 0;
    /*background-color: #bb2430!important;*/
    background-image: url('./img/bcg-img.jpg');
    background-repeat: repeat;
}


/*-------------------Main page-------------------*/

.h1-style {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1), -2px 2px 1px rgba(0, 0, 0, 1), 2px -2px 1px rgba(0, 0, 0, 1), -2px -2px 1px rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    color: white;
    text-align: center;
}


/*-------------------Main page-------------------*/


/*-------------------Old view-------------------*/

li {
    list-style-type: none;
    color: white;
    background-color: red;
    border: 2px solid #1d1680;
    margin: 5px 0;
    cursor: default;
}


/*-------------------Old view-------------------*/


/*-------------------Users table-------------------*/

.cust {
    border: 1px solid black;
    margin: 50px auto;
    padding: 25px 15px 50px 15px;
    width: 930px;
    border-radius: 10px;
    background-color: white;
}

.table-cust {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%!important;
    margin: 50px auto;
    border-radius: 10px;
    background-color: white;
}

.table-cust th {
    font-size: 24px!important;
    border-top: none!important;
    border-bottom: 2px solid #707070;
    text-align: center;
}

.table-cust td {
    text-align: center;
    border-bottom: 2px solid #b9b9b9;
}

.table-cust tr:last-child td {
    text-align: center;
    border-bottom: none;
}


/*-------------------Users table-------------------*/


/*-------------------Modal window-------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*-------------------Modal window-------------------*/


/*-------------------Form-------------------*/

input[type=text],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/*-------------------Form-------------------*/